@model Formula1TeamApp.Models.Driver

@{
    ViewData["Title"] = "Radera kontrakt";

    if(Model.Team != null) {
        if(Model.Team.Name == null) {
           Model.Team.Name = "Okänd";
        }       
    }
}

<h1>@ViewData["Title"]</h1>

<h3>Är du säker på att du vill radera @Html.DisplayFor(model => model.Name)s kontakt?</h3>
<div>
    <h4>Förare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary) miljoner kronor
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.TeamName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DriverId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaks till listan</a>
    </form>
</div>
